

$bg-color: #202020;
$hud-color: rgba(32,38,43,0.9);
$stone-color: rgba(32,38,43,1);
$quas-color: blue; 
$wex-color: purple;
$exort-color: darkorange;
$quas-image: url('img/Quas_icon.png');
$wex-image: url('img/Wex_icon.png');
$exort-image: url('img/Exort_icon.png');
$invoke-image: url('img/Invoke_icon.png');
$invoke-bg: white;
$talents0: url("img/talents_icon0.png");
//Spell icons
$alacrity: url('img/Alacrity_icon.png');
$cold-snap: url('img/Cold_Snap_icon.png');
$chaos-meteor: url('img/Chaos_Meteor_icon.png');
$def-blast: url('img/Deafening_Blast_icon.png');
$emp: url('img/EMP_icon.png');
$forge-spirit: url('img/Forge_Spirit_icon.png');
$ghost-walk: url('img/Ghost_Walk_icon.png');
$ice-wall: url('img/Ice_Wall_icon.png');
$sun-strike: url('img/Sun_Strike_icon.png');
$tornado: url('img/Tornado_icon.png');



*{
	margin: 0;
	padding: 0;
}
body{
	background: url('img/bg.png') no-repeat center center fixed;
	font-family: Segoe UI;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1{
	text-align: center;
	color: white;

	font-weight: 300;
	font-size: 34px;
}
nav{
	position: fixed;
	bottom: 0;
	background-color: $hud-color;
	width: 52vw;
	height: 13vh;
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	transform: translateX(-50%);
}
.upper-bar{
	width: 40vw;
	margin-left: auto;
	margin-right: auto;
	height: 4vh;
	background-color: rgba(32,38,43,0.8);
}
.timer img{
	width: 20%;
	position: relative;
	left: 2.3vw;
	top: .2vh;
}
.timer{
	width: 6vw;
	height: 4.5vh;
	margin-left: auto;
	margin-right: auto;
	background-color: $stone-color;
	text-align: center;
}
#stone1{
	background-color: $stone-color;
	position: fixed;
	height: 12vh;
	top: 20px;
	width: 3vw;
	bottom: 0;
	left: -20px;
	transform: rotate(3deg);
   
    
	-webkit-box-shadow: inset 5px 5px 1px -1px rgba(68,70,82,1);
	-moz-box-shadow: inset 5px 5px 1px -1px rgba(68,70,82,1);
	box-shadow: inset 5px 5px 1px -1px rgba(68,70,82,1);
	z-index: 5;
}
#stone2{
	background-color: $stone-color;
	position: fixed;
	height: 12vh;
	top: 35px;
	width: 3vw;
	bottom: 0;
	left: -35px;
	transform: rotate(3deg);
   
    z-index: 4;
	-webkit-box-shadow: inset 5px 5px 1px -1px rgba(68,70,82,1);
	-moz-box-shadow: inset 5px 5px 1px -1px rgba(68,70,82,1);
	box-shadow: inset 5px 5px 1px -1px rgba(68,70,82,1);
}
video::-webkit-media-controls {
	display: none;
  }
  
  #talents img{
	float: left;
	width: 6.1%;
	position: relative;
bottom: 9vh;
left: 0.7vw;

  }
  #talents img:hover{
	cursor: pointer;

  }
#elements{
	position: absolute;
	float: left;
	bottom: -2.2vh;
	left: 19%;
	width: 100%;
	
}
.empty{
	width: 3vw;
	height: 3vw;
	background-color: black;
	float: left;
	margin-left: 1%;
	position: relative;
	border: 3px solid #aeadbb;
}
.element{
	margin-left: 4vw;
	position: relative;
	bottom: 8.5vh;

}
.element img{
	width: 4vw;
	background: #eee;

	border: 2px solid transparent;

	-moz-border-image: -moz-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	-webkit-border-image: -webkit-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	border-image: linear-gradient(to bottom, #7d838f .1%, #2f3841 20%);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.55);
box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.55);
	border-image-slice: 1;
	float: left;
	margin-left: .6vw;
	
	
	
}
.element:hover{
	cursor: pointer;
}
#elements-taken{
position: relative;
bottom: 5vh;
left: 15vw;

}

#invo-portrait video{
	width: 13vh;
	left: 0%;
	position: fixed;
	bottom: 0;
	-webkit-box-shadow: 0px 0px 51px 5px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 0px 51px 5px rgba(0,0,0,0.39);
box-shadow: 0px 0px 51px 5px rgba(0,0,0,0.39);
z-index: 6;
}
#invo-portrait h5{
	color: white;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	letter-spacing: 2px;
	font-weight: 500;
	position: absolute;
	bottom: 15.6vh;
	right: 55.2vw;
}
.stats{
	height: 13vh;
	width: 3vw;
	position: fixed;
	bottom: 0;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,2d0b14+14&0+0,1+27 */
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(45,11,20,0.72) 14%, rgba(45,11,20,1) 27%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(45,11,20,0.72) 14%,rgba(45,11,20,1) 27%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(45,11,20,0.72) 14%,rgba(45,11,20,1) 27%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#2d0b14',GradientType=1 ); /* IE6-9 */
	left: 110px;
	z-index: 10;
	-webkit-box-shadow: 10px 0px 15px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 10px 0px 15px 0px rgba(0,0,0,0.4);
	box-shadow: 10px 0px 15px 0px rgba(0,0,0,0.4);
}
#level{
	background-color: black;
	color: orange;
	border: 3px solid #202020;
	text-shadow: 0 0 5px #d5aa77, 0 0 5px #542e0a;	
	width: 2vw;
    display: flex;
	z-index: 7;
    justify-content: center;
	border-radius: 50%;
	height: 3.2vh;
	position: absolute;
	right: 60.7vw;
	bottom: 23px;
	font-size: 2vh;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.39);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.39);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.39);
	
}
//stats
.stats li{
	color: #c9c9c9;
	font-size: 80%;
	margin-top: 4%;
	list-style: none;
	font-weight: 500;
}
// Quas
#quas{
	width: 2.5vw;
	height: 2.5vw;
}

#wex{
	width: 2.5vw;
	height: 2.5vw;
}
#exort{
	width: 2.5vw;
	height: 2.5vw;
}

.quas{
	background-image: $quas-image;
	border: .2vw solid green; 
	width: 1.8vw;
	height: 1.8vw;
	border-radius: 50%;
	float: left;
	margin-left: 10px;
	background-size: cover;
}

.wex{
	background-image: $wex-image;
	border: .2vw solid green; 
	width: 1.8vw;
	height: 1.8vw; 
	border-radius: 50%;
	float: left;
	margin-left: 10px;
	background-size: cover;
}
.exort{
	background-image: $exort-image;
	border: .2vw solid green; 
	width: 1.8vw;
	height: 1.8vw; 
	border-radius: 50%;
	float: left;
	margin-left: 10px;
	background-size: cover;
}

#invoke img{
	width: 2.5vw;
	height: 2.5vw;
}


.spells-invoked{
	position: relative;
bottom: 8.5vh;
}


.hp-bar{
	background-color: green;
	position: fixed;
	top: 7.5vh;
	width: 23.1vw;
	height: 2.3vh;
	left: 10.7vw;
	border-radius: 5px;
	text-align: center;
	color: white;
	font-weight: 500;
	text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 1);
	letter-spacing: 1px;
	font-size: 90%;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.39);
box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.39);
}
.mana-bar{
	background-color: blue;
	position: fixed;
	width: 23.1vw;
	height: 2.3vh;
	border-radius: 5px;
	bottom: 5px;
	left: 10.7vw;
	text-align: center;
	color: white;
	font-weight: 500;
	text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 1);
	letter-spacing: 1px;
	font-size: 90%;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.39);
box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.39);
}
.level-upgrader button{
	padding: 1%;
	background-color: $hud-color;
	color: white;
	font-weight: 700;
	border: none;
	font-size: 125%;
	margin-top: 50vh;
	outline: none;
}
.level-upgrader button:hover{
background-color: #404040;
cursor: pointer;
transition-duration: 0.15s;
}
.level-upgrader button:active{
	transform: scale(0.95);
	transition-duration: 0.15s;
	}

// ****************** SPELLS ****************************************
.alacrity{
	width: 2.5vw;
	height: 2.5vw;
	background-image: $alacrity;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 1%;
	position: relative;
	

	border: 2px solid transparent;

	-moz-border-image: -moz-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	-webkit-border-image: -webkit-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	border-image: linear-gradient(to bottom, #7d838f .1%, #2f3841 2%);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.55);
box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.55);
	border-image-slice: 1;
}
.chaos-meteor{
	width: 2.5vw;
	height: 2.5vw;
	background-image: $chaos-meteor;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 1%;
	position: relative;
	border: 2px solid transparent;

	-moz-border-image: -moz-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	-webkit-border-image: -webkit-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	border-image: linear-gradient(to bottom, #7d838f .1%, #2f3841 2%);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.55);
box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.55);
	border-image-slice: 1;
}
.cold-snap{
	width: 2.5vw;
	height: 2.5vw;
	background-image: $cold-snap;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 1%;
	position: relative;
	border: 2px solid transparent;

	-moz-border-image: -moz-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	-webkit-border-image: -webkit-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	border-image: linear-gradient(to bottom, #7d838f .1%, #2f3841 2%);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.55);
box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
	border-image-slice: 1;
}
.def-blast{
	width: 2.5vw;
	height: 2.5vw;
	background-image: $def-blast;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 1%;
	position: relative;
	border: 2px solid transparent;

	-moz-border-image: -moz-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	-webkit-border-image: -webkit-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	border-image: linear-gradient(to bottom, #7d838f .1%, #2f3841 2%);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
	border-image-slice: 1;
}
.emp{
	width: 2.5vw;
	height: 2.5vw;
	background-image: $emp;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 1%;
	position: relative;
	border: 2px solid transparent;

	-moz-border-image: -moz-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	-webkit-border-image: -webkit-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	border-image: linear-gradient(to bottom, #7d838f .1%, #2f3841 2%);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
	border-image-slice: 1;
}
.forge-spirit{
	width: 2.5vw;
	height: 2.5vw;
	background-image: $forge-spirit;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 1%;
	position: relative;
	border: 2px solid transparent;

	-moz-border-image: -moz-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	-webkit-border-image: -webkit-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	border-image: linear-gradient(to bottom, #7d838f .1%, #2f3841 2%);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
	border-image-slice: 1;
}
.ghost-walk{
	width: 2.5vw;
	height: 2.5vw;
	background-image: $ghost-walk;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 1%;
	position: relative;
	border: 2px solid transparent;

	-moz-border-image: -moz-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	-webkit-border-image: -webkit-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	border-image: linear-gradient(to bottom, #7d838f .1%, #2f3841 2%);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
	border-image-slice: 1;
}
.ice-wall{
	width: 2.5vw;
	height: 2.5vw;
	background-image: $ice-wall;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 1%;
	position: relative;
	border: 2px solid transparent;

	-moz-border-image: -moz-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	-webkit-border-image: -webkit-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	border-image: linear-gradient(to bottom, #7d838f .1%, #2f3841 2%);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
	border-image-slice: 1;
}
.sun-strike{
	width: 2.5vw;
	height: 2.5vw;
	background-image: $sun-strike;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 1%;
	position: relative;
	border: 2px solid transparent;

	-moz-border-image: -moz-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	-webkit-border-image: -webkit-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	border-image: linear-gradient(to bottom, #7d838f .1%, #2f3841 2%);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
	border-image-slice: 1;
}
.tornado{
	width: 2.5vw;
	height: 2.5vw;
	background-image: $tornado;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 1%;
	position: relative;
	border: 2px solid transparent;

	-moz-border-image: -moz-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	-webkit-border-image: -webkit-linear-gradient(top, #7d838f .1%, #2f3841 2%);
	border-image: linear-gradient(to bottom, #7d838f .1%, #2f3841 2%);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.85);
	border-image-slice: 1;
}